
body{
	font-family: 'Indie Flower', cursive;
	background-color: #517fa4;
  font-size: 100%;
  /* Background Colour with Gradient **/
  background: #8e9eab; /* fallback for old browsers */
  background: -webkit-linear-gradient(to left, #8e9eab , #eef2f3); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left, #8e9eab , #eef2f3); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

* {box-sizing: border-box;}

h1 {
	font-size: 4em;
  position:relative;
	text-align: center;
	top: 30px;
	margin: 0px;
	border-radius: 25px
}

div > .section{
	float: left;
	padding: 2.5%;
	padding-top: 0px;
	margin: 0px;
	position: relative;
	top: 150px;
}

div > .sectiont{
	font-size: 1.5em;
  float:right;
  text-align: center;
	font-weight: bold;
	background-color: red;
	width: 95px;
	border: 1px solid black;
}
	.sectiont.sc {background-color: pink;}
	.sectiont.sb {background-color: red;}
	.sectiont.ss  {background-color: yellow;}

div > .sectionp{
	background-color: grey;
	height: 200px;
	color: orange;
	border: 1px solid black;
  padding-top: 40px;
  padding-left: 10px;
  font-size: 1.2em;
}

/******************************************** Media Queries **********************************/
.row {
	width: 100%
}

@media (min-width: 992px) { .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12 {
    float: left;
  }
  .col-lg-1 {
    width: 8.33%;
  }
  .col-lg-2 {
    width: 16.66%;
  }
  .col-lg-3 {
    width: 25%;
  }
  .col-lg-4 {
    width: 33.33%;
  }
  .col-lg-5 {
    width: 41.66%;
  }
  .col-lg-6 {
    width: 50%;
  }
  .col-lg-7 {
    width: 58.33%;
  }
  .col-lg-8 {
    width: 66.66%;
  }
  .col-lg-9 {
    width: 74.99%;
  }
  .col-lg-10 {
    width: 83.33%;
  }
  .col-lg-11 {
    width: 91.66%;
  }
  .col-lg-12 {
    width: 100%;
  }
}

@media (min-width: 768px) and (max-width: 991px) { .col-md-6, .col-md-12 {
    float: left;
  }
	.col-md-6 {
    width: 50%;
  }
 	.col-md-12 {
    width: 100%;
  }
}

@media (max-width: 767) { .col-sm-12 {
    float: left;
  }
	.col-sm-12 {
    width: 100%; }




